version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: railway_locl
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "15432:5432"

  backend:
    build: ./backend
    volumes:
      - ./backend:/app
    ports:
      - "18000:8000"
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgres://postgres:admin@db:5432/gestorapis
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
    ports:
      - "13000:3000"
    depends_on:
      - backend

volumes:
  pgdata:
